# Web Framework & Server
fastapi
uvicorn
mangum

# Database & Migrations
SQLAlchemy
alembic
psycopg2-binary
pgvector

# Task Queue & AWS
celery
redis
boto3

# Security & Auth
python-dotenv
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
PyJWT

# AI & RAG
langchain-google-genai
langchain-text-splitters
pypdf
openai

# Utilities
httpx
pytz
websockets
python-multipart
